* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  display: block;
  border-radius: 8px;
  padding: 8px 16px;
  width: 97px;
  height: 40px;
  margin: 24px 0;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: 0;
}

.btn:hover {
  background-color: #6c8cff;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
}

.item {
  display: flex;
  flex-direction: column;

  background-color: #f6f6fe;
  padding: 16px;
  border-radius: 8px;
}

.item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.sub-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sub-item {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.sub-item:hover {
  border-color: #000000;
}

.sub-item:active,
.sub-item:focus {
  border-color: #808080;
}

/* ================== task-2 ====================== */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 24px;
}

.listItem {
  width: 360px;
}

/* ================== task-3 ====================== */

.t3-title {
  margin-top: 16px;
}

/* ================== task-4 ====================== */

.login-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
  background-color: #ffffff;
  margin: 0 auto;
}

.form-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.form-btn {
  margin-top: 16px;
}

/* ================== task-5 ====================== */

.widget {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

/* ================== task-6 ====================== */

.script {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 534px;
  height: 302px;
  background-color: #ffffff;
  margin: 0 auto;
}

#controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background-color: #f6f6fe;
}

.input {
  border: 1px solid #808080;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  text-align: center;
}

.cr-btn {
  width: 120px;
}

.dsr-btn {
  width: 120px;
  background-color: #ff4e4e;
}

.dsr-btn:hover {
  background-color: #ff7070;
}

#boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  padding: 30px;
  width: 486px;
  background-color: #f6f6fe;
  flex-wrap: wrap;
  gap: 10px;
}
